In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt #data visualization
import seaborn as sns #data visualization

# Data Pre Processing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [3]:
# read in data with specifying that there is no header columns

df=pd.read_csv("../data/Jewelry_Dataset.csv", header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,2018-12-01 11:40:29 UTC,1924719191579951782,1842195256808833386,1,1.806829e+18,jewelry.earring,0.0,561.51,1.515916e+18,NaN,red,gold,diamond
1,2018-12-01 17:38:31 UTC,1924899396621697920,1806829193678291446,1,1.806829e+18,NaN,NaN,212.14,1.515916e+18,NaN,yellow,gold,NaN
2,2018-12-02 13:53:42 UTC,1925511016616034733,1842214461889315556,1,1.806829e+18,jewelry.pendant,1.0,54.66,1.515916e+18,f,white,gold,sapphire
3,2018-12-02 17:44:02 UTC,1925626951238681511,1835566849434059453,1,1.806829e+18,jewelry.pendant,0.0,88.90,1.515916e+18,f,red,gold,diamond
4,2018-12-02 21:30:19 UTC,1925740842841014667,1873936840742928865,1,1.806829e+18,jewelry.necklace,0.0,417.67,1.515916e+18,NaN,red,gold,amethyst

In [27]:
# created my columns and removed scientific notation
df.columns= ['Datetime','OrderID','Purchased_ID','Qty_of_SKU','Category_ID','Category_alias','Brand_ID',
             'Price','UserID','Product_gender','Color','Metal','Gem_type']
pd.set_option('display.float_format', '{:.0f}'.format)
df.head(50)

,Datetime,OrderID,Purchased_ID,Qty_of_SKU,Category_ID,Category_alias,Brand_ID,Price,UserID,Product_gender,Color,Metal,Gem_type
0,2018-12-01 11:40:29+00:00,1924719191579951782,1842195256808833386,1,1806829201890738432,jewelry.earring,0,562,1515915625207851264,NaN,red,gold,diamond
1,2018-12-01 17:38:31+00:00,1924899396621697920,1806829193678291446,1,1806829201848795392,NaN,NaN,212,1515915625071970048,NaN,yellow,gold,NaN
2,2018-12-02 13:53:42+00:00,1925511016616034733,1842214461889315556,1,1806829201915904256,jewelry.pendant,1,55,1515915625048493568,f,white,gold,sapphire
3,2018-12-02 17:44:02+00:00,1925626951238681511,1835566849434059453,1,1806829201915904256,jewelry.pendant,0,89,1515915625207630848,f,red,gold,diamond
4,2018-12-02 21:30:19+00:00,1925740842841014667,1873936840742928865,1,1806829201924292864,jewelry.necklace,0,418,1515915625175329280,NaN,red,gold,amethyst
5,2018-12-02 22:09:34+00:00,1925760595336888995,1835566854827934449,1,1806829201890738432,jewelry.earring,1,102,1515915625234475776,NaN,red,gold,NaN
6,2018-12-02 22:09:34+00:00,1925760595336888995,1600021442638905547,1,1806829201890738432,jewelry.earring,0,151,1515915625234475776,NaN,red,gold,diamond
7,2018-12-02 22:16:20+00:00,1925764002260976330,1835566854106513435,1,1806829201890738432,jewelry.earring,0,83,1515915625210832640,NaN,white,gold,fianit
8,2018-12-03 07:03:49+00:00,1926029494397698277,1811798112444875309,1,1806829201915904256,jewelry.pendant,2,60,1515915625234339328,f,red,gold,pearl
9,2018-12-03 09:48:34+00:00,1926112416450478161,1836278824443052965,1,1806829201890738432,jewelry.earring,1,217,1515915625081825280,NaN,red,gold,diamond
10,2018-12-03 09:48:34+00:00,1926112416450478161,1877637299521454325,1,1806829201882349824,jewelry.ring,1,181,1515915625081825280,NaN,white,gold,diamond
11,2018-12-03 09:48:34+00:00,1926112416450478161,1878338296032002102,1,1806829201941070080,jewelry.brooch,1,232,1515915625081825280,NaN,red,gold,fianit
12,2018-12-03 11:14:25+00:00,1926155622227640358,1839552194542568132,1,1806829201882349824,jewelry.ring,1,204,1515915625193362688,NaN,yellow,gold,NaN
13,2018-12-03 18:43:00+00:00,1926381405764321762,1807462768563979237,1,1806829201890738432,jewelry.earring,0,84,1515915625231936256,NaN,white,gold,fianit
14,2018-12-04 06:04:18+00:00,1926724314904658447,1839748293546999844,1,1806829201882349824,jewelry.ring,0,254,1515915625081825280,NaN,red,gold,amethyst
15,2018-12-04 08:06:10+00:00,1926785654931325894,1838087960809964124,1,1806829201890738432,jewelry.earring,0,251,1515915625216376320,NaN,red,gold,quartz
16,2018-12-04 12:40:48+00:00,1926923883428970549,1874395183001371437,1,1806829201882349824,jewelry.ring,1,155,1515915625216376320,NaN,white,gold,diamond
17,2018-12-04 12:40:48+00:00,1926923883428970549,1874395183001371437,1,1806829201882349824,jewelry.ring,1,155,1515915625216376320,NaN,white,gold,diamond
18,2018-12-04 17:18:19+00:00,1927063562459546512,1836825742751564764,1,1806829201890738432,jewelry.earring,0,2171,1515915625183596288,NaN,yellow,gold,topaz
19,2018-12-04 19:55:22+00:00,1927142607515812568,1807570270689427678,1,1806829201890738432,jewelry.earring,1,103,1515915625227195904,f,yellow,gold,garnet
20,2018-12-04 20:10:22+00:00,1927150150686343971,1806829191581138983,1,1806829201915904256,jewelry.pendant,1,62,1515915625227195904,f,yellow,gold,garnet
21,2018-12-04 20:12:31+00:00,1927151232950993712,1313599513520242876,1,1806829201865572608,jewelry.bracelet,0,335,1515915625227195904,NaN,yellow,gold,garnet
22,2018-12-05 07:34:21+00:00,1927494410593894972,1807251125804466651,1,1806829201890738432,jewelry.earring,2,616,1515915625215488768,f,red,gold,diamond
23,2018-12-05 08:25:56+00:00,1927520374853992618,1315386864848339886,1,1806829201890738432,jewelry.earring,1,67,1481116091374633984,f,white,gold,fianit
24,2018-12-05 08:40:12+00:00,1927527559520584288,1839803839394349564,1,1806829201915904256,jewelry.pendant,4,1,1515915625229424896,NaN,NaN,silver,fianit
25,2018-12-05 09:12:09+00:00,1927543639139943380,1806829188737401547,1,1806829201915904256,jewelry.pendant,1,59,1515915625207941376,NaN,red,gold,sapphire
26,2018-12-05 09:37:05+00:00,1927556184420647176,1837388132287250988,1,1806829201890738432,jewelry.earring,2,226,1515915625078636800,f,red,gold,garnet
27,2018-12-05 10:58:16+00:00,1927597049163808978,1835783577871057751,1,1806829201890738432,jewelry.earring,1,109,1515915625186951424,NaN,red,gold,topaz
28,2018-12-05 15:06:56+00:00,1927722203831337459,1806829194835919111,1,1806829201890738432,jewelry.earring,0,37,1515915625235548416,NaN,red,gold,NaN
29,2018-12-05 19:54:11+00:00,1927866786045231262,1807462764847825248,1,1806829201865572608,jewelry.bracelet,1,131,1515915625225035520,f,red,gold,pearl
30,2018-12-06 08:25:37+00:00,1928244993491730938,1839803839394349564,1,1806829201915904256,jewelry.pendant,4,1,1515915625210445312,NaN,NaN,silver,fianit
31,2018-12-06 08:25:37+00:00,1928244993491730938,1840638201165775183,1,1806829201915904256,jewelry.pendant,NaN,1,1515915625210445312,NaN,NaN,silver,fianit
32,2018-12-06 11:58:11+00:00,1928351983928869838,1806829191824408702,1,1806829201848795392,NaN,NaN,505,1515915625071970048,f,yellow,gold,NaN
33,2018-12-06 13:33:09+00:00,1928399779566453596,1835566849358561876,1,1806829201865572608,jewelry.bracelet,1,169,1324526649240192000,f,red,gold,fianit
34,2018-12-06 16:29:24+00:00,1928488485740610538,1838169502550852056,1,1806829201890738432,jewelry.earring,1,1246,1515915625068700160,f,red,gold,diamond
35,2018-12-07 10:24:18+00:00,1929029501472211022,1839803839394349564,1,1806829201915904256,jewelry.pendant,4,1,1515915625039846656,NaN,NaN,silver,fianit
36,2018-12-07 14:28:27+00:00,1929152389923733658,1835566851673818046,1,1806829201882349824,jewelry.ring,1,148,1515915625155957248,NaN,red,gold,topaz
37,2018-12-07 14:45:44+00:00,1929161085336682782,1806829194936582553,1,1806829201882349824,jewelry.ring,0,82,1515915625155957248,NaN,red,gold,topaz
38,2018-12-07 17:26:59+00:00,1929242244775149777,1835566848083492993,1,1806829201882349824,jewelry.ring,NaN,212,1515915625176800256,NaN,white,gold,diamond
39,2018-12-08 12:00:21+00:00,1929802623033017266,1835660837797233228,1,1806829201890738432,jewelry.earring,1,1424,1515915625040669696,f,red,gold,diamond
40,2018-12-08 15:08:35+00:00,1929897368241570034,1353042158935868042,1,1806829202008178944,electronics.clocks,6,292,1313753318916359168,NaN,red,gold,fianit
41,2018-12-08 15:11:22+00:00,1929898765943046398,1835887675396063338,1,1806829202008178944,electronics.clocks,6,296,1313753318916359168,NaN,red,gold,fianit
42,2018-12-08 16:06:37+00:00,1929926572601508419,1835566848528089593,1,1806829201890738432,jewelry.earring,1,104,1515915625160166144,NaN,red,gold,NaN
43,2018-12-08 18:47:47+00:00,1930007694911996365,1850744226237645419,1,1806829201882349824,jewelry.ring,1,472,1515915625078636800,f,red,gold,diamond
44,2018-12-09 11:38:57+00:00,1930516625862164993,1915383829334327598,1,1806829201882349824,jewelry.ring,1,258,1460110627920936960,f,red,gold,diamond
45,2018-12-09 20:45:14+00:00,1930791580256436415,1882611537697309671,1,1806829201865572608,jewelry.bracelet,NaN,201,1515915625150215168,NaN,red,gold,NaN
46,2018-12-10 19:20:34+00:00,1931473745298325676,1315961874977652928,1,1806829201890738432,jewelry.earring,1,68,1515915625118578688,NaN,red,gold,fianit
47,2018-12-11 12:14:37+00:00,1931984131068002499,1806829193678291446,1,1806829201848795392,NaN,NaN,212,1515915625071970048,NaN,yellow,gold,NaN
48,2018-12-12 06:27:06+00:00,1932533996177064822,1836524717922582619,1,1806829201890738432,jewelry.earring,1,142,1515915625216376320,NaN,red,gold,amethyst
49,2018-12-12 06:27:06+00:00,1932533996177064822,1836524717922582619,1,1806829201890738432,jewelry.earring,1,142,1515915625216376320,NaN,red,gold,amethyst

In [9]:
# format datetime to date function
df['Datetime'] = pd.to_datetime(df['Datetime'])

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95911 entries, 0 to 95910
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Datetime        95911 non-null  datetime64[ns, UTC]
 1   OrderID         95911 non-null  int64
 2   Purchased_ID    95911 non-null  int64
 3   Qty_of_SKU      95911 non-null  int64
 4   Category_ID     90559 non-null  float64
 5   Category_alias  85978 non-null  object
 6   Brand_ID        91126 non-null  float64
 7   Price           90559 non-null  float64
 8   UserID          90559 non-null  float64
 9   Product_gender  47743 non-null  object
 10  Color           88251 non-null  object
 11  Metal           90449 non-null  object
 12  Gem_type        61853 non-null  object
dtypes: datetime64[ns, UTC](1), float64(4), int64(3), object(5)
memory usage: 9.5+ MB

In [13]:
# sum up missing values
df.isna().sum()

Datetime              0
OrderID               0
Purchased_ID          0
Qty_of_SKU            0
Category_ID        5352
Category_alias     9933
Brand_ID           4785
Price              5352
UserID             5352
Product_gender    48168
Color              7660
Metal              5462
Gem_type          34058
dtype: int64

In [29]:
# explore the most common values in each column of your DataFrame, including missing values (NaN)
for col in df.columns:
    print(f"\nTop values in column: {col}")
    print(df[col].value_counts(dropna=False).head(10))

Top values in column: Datetime
Datetime
2020-10-17 12:58:28+00:00    26
2020-01-10 12:18:48+00:00    17
2019-10-10 22:43:29+00:00    16
2020-03-09 19:59:04+00:00    16
2021-11-18 03:11:25+00:00    16
2021-11-18 09:03:18+00:00    15
2020-03-24 11:38:30+00:00    15
2019-11-21 23:13:46+00:00    15
2020-12-20 12:31:34+00:00    14
2021-11-12 11:28:12+00:00    13
Name: count, dtype: int64

Top values in column: OrderID
OrderID
2421954597749784864    26
2218272654131986565    17
2709395093537685507    16
2151907698080219634    16
2261266080007717108    16
2709572194802860858    15
2271885767582154803    15
2182363516604777447    15
2621150382394442390    13
2705296474756874505    13
Name: count, dtype: int64

Top values in column: Purchased_ID
Purchased_ID
1956663847725040099    526
1515966223577083202    468
1956663840242401751    428
1352907200745439279    369
1956663847666319760    350
1956663831283368958    348
1956663840309510725    346
1924582891589731058    314
1956663836207481430    314
1956663836450751375    312
Name: count, dtype: int64

Top values in column: Qty_of_SKU
Qty_of_SKU
1    95911
Name: count, dtype: int64

Top values in column: Category_ID
Category_ID
1806829201890738432    29001
1806829201882349824    28286
1806829201915904256    13052
1806829201848795392     9568
1806829201865572608     6185
NaN                     5352
1806829201924292864     2356
1806829201941070080     1288
1806829201991401728      321
1806829202092065024      170
Name: count, dtype: int64

Top values in column: Category_alias
Category_alias
jewelry.earring       29052
jewelry.ring          28300
jewelry.pendant       13088
NaN                    9933
jewelry.bracelet       6188
0.00                   4392
jewelry.necklace       2361
jewelry.brooch         1288
jewelry.souvenir        170
electronics.clocks      167
Name: count, dtype: int64

Top values in column: Brand_ID
Brand_ID
0                      44600
1                      32022
2                       8966
NaN                     4785
1515915625535747840      147
1515915625081825280      104
1515915625216376320       74
4                         65
3                         58
6                         56
Name: count, dtype: int64

Top values in column: Price
Price
NaN    5352
233     945
274     855
212     814
246     814
226     811
157     776
144     739
363     730
164     709
Name: count, dtype: int64

Top values in column: UserID
UserID
NaN                    5352
1515915625245643008    1068
1515915625368881664     696
1515915625337818112     540
1515915625078636800     509
1515915625248999168     480
1515915625045119744     471
1515915625219296000     425
1515915625450853120     408
1515915625193362688     402
Name: count, dtype: int64

Top values in column: Product_gender
Product_gender
NaN    48168
f      47379
m        364
Name: count, dtype: int64

Top values in column: Color
Color
red              69511
white            15286
NaN               7660
yellow            3388
unknown-color       64
black                2
Name: count, dtype: int64

Top values in column: Metal
Metal
gold        89082
NaN          5462
silver       1365
platinum        2
Name: count, dtype: int64

Top values in column: Gem_type
Gem_type
NaN         34058
diamond     29610
fianit      12051
topaz        6318
pearl        3632
garnet       2704
sapphire     1866
amethyst     1632
mix          1479
emerald       833
Name: count, dtype: int64

In [33]:
# removed any numerical values in this column and then reset index
df = df[~df['Category_alias'].apply(lambda x: str(x).replace('.', '', 1).isdigit())]
df.reset_index(drop=True, inplace=True)

In [47]:
df['Category_alias'] = df['Category_alias'].fillna("unknown")
df['Purchased_ID'] = df['Purchased_ID'].fillna("unknown")
df['Gem_type'] = df['Gem_type'].fillna("unknown")
df['Brand_ID'] = df['Brand_ID'].fillna("unknown")
df['Price'] = df['Price'].fillna("unknown")
df['Metal'] = df['Metal'].fillna("unknown")
df['Color'] = df['Color'].fillna("unknown")
df['Color'] = df['Color'].replace('unknown-color', 'unknown')
df['Product_gender'] = df['Product_gender'].fillna("unknown")

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90559 entries, 0 to 90558
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Datetime        90559 non-null  datetime64[ns, UTC]
 1   OrderID         90559 non-null  int64
 2   Purchased_ID    90559 non-null  int64
 3   Qty_of_SKU      90559 non-null  int64
 4   Category_ID     90559 non-null  float64
 5   Category_alias  90559 non-null  object
 6   Brand_ID        90559 non-null  object
 7   Price           90559 non-null  float64
 8   UserID          90559 non-null  float64
 9   Product_gender  90559 non-null  object
 10  Color           90559 non-null  object
 11  Metal           90559 non-null  object
 12  Gem_type        90559 non-null  object
dtypes: datetime64[ns, UTC](1), float64(3), int64(3), object(6)
memory usage: 9.0+ MB

In [51]:
df.isna().sum()

Datetime          0
OrderID           0
Purchased_ID      0
Qty_of_SKU        0
Category_ID       0
Category_alias    0
Brand_ID          0
Price             0
UserID            0
Product_gender    0
Color             0
Metal             0
Gem_type          0
dtype: int64

In [53]:
df.drop(columns=['Datetime', 'Qty_of_SKU','Category_ID','UserID','OrderID'], inplace=True)

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90559 entries, 0 to 90558
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Purchased_ID    90559 non-null  int64
 1   Category_alias  90559 non-null  object
 2   Brand_ID        90559 non-null  object
 3   Price           90559 non-null  float64
 4   Product_gender  90559 non-null  object
 5   Color           90559 non-null  object
 6   Metal           90559 non-null  object
 7   Gem_type        90559 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 5.5+ MB

In [57]:
df.describe()

             Purchased_ID  Price
count               90559  90559
mean  1833497756167076096    362
std    206662984433428896    444
min   1313550904313512704      1
25%   1806829191841186048    146
50%   1956663831300145152    259
75%   1956663845653053440    431
max   2541962442884252160  34449

In [59]:
df.describe(include=["object","bool"])

         Category_alias  Brand_ID Product_gender  Color  Metal Gem_type
count             90559     90559          90559  90559  90559    90559
unique               10         8              3      5      4       31
top     jewelry.earring         0              f    red   gold  diamond
freq              29052     44600          47379  69511  89082    29610

In [ ]:
df[df['Category_ID'] == 1806829201890738432]

In [ ]:
df['Category_alias'].unique()

In [ ]:
df.head()

In [ ]:
df.loc[df['Category_alias'] == 'electronics.clocks', 'Brand_ID'] = 6

In [ ]:
df = df.dropna()
df.head()

In [ ]:
df.info()

In [ ]:
columns_to_check = ['Category_ID', Category_alias