In [97]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt #data visualization
import seaborn as sns #data visualization

# Data Pre Processing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [99]:
df=pd.read_csv("../data/Jewelry_Dataset.csv", header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,2018-12-01 11:40:29 UTC,1924719191579951782,1842195256808833386,1,1806829201890738432,jewelry.earring,0,562,1515915625207851264,NaN,red,gold,diamond
1,2018-12-01 17:38:31 UTC,1924899396621697920,1806829193678291446,1,1806829201848795392,NaN,NaN,212,1515915625071970048,NaN,yellow,gold,NaN
2,2018-12-02 13:53:42 UTC,1925511016616034733,1842214461889315556,1,1806829201915904256,jewelry.pendant,1,55,1515915625048493568,f,white,gold,sapphire
3,2018-12-02 17:44:02 UTC,1925626951238681511,1835566849434059453,1,1806829201915904256,jewelry.pendant,0,89,1515915625207630848,f,red,gold,diamond
4,2018-12-02 21:30:19 UTC,1925740842841014667,1873936840742928865,1,1806829201924292864,jewelry.necklace,0,418,1515915625175329280,NaN,red,gold,amethyst

In [101]:
pd.set_option('display.float_format', '{:.0f}'.format)

In [103]:
df.columns= ['Datetime','OrderID','Purchased_ID','Qty_of_SKU','Category_ID','Category_alias','Brand_ID',
             'Price','UserID','Product_gender','Color','Metal','Gem_type']
pd.set_option('display.float_format', '{:.0f}'.format)
df.head()

,Datetime,OrderID,Purchased_ID,Qty_of_SKU,Category_ID,Category_alias,Brand_ID,Price,UserID,Product_gender,Color,Metal,Gem_type
0,2018-12-01 11:40:29 UTC,1924719191579951782,1842195256808833386,1,1806829201890738432,jewelry.earring,0,562,1515915625207851264,NaN,red,gold,diamond
1,2018-12-01 17:38:31 UTC,1924899396621697920,1806829193678291446,1,1806829201848795392,NaN,NaN,212,1515915625071970048,NaN,yellow,gold,NaN
2,2018-12-02 13:53:42 UTC,1925511016616034733,1842214461889315556,1,1806829201915904256,jewelry.pendant,1,55,1515915625048493568,f,white,gold,sapphire
3,2018-12-02 17:44:02 UTC,1925626951238681511,1835566849434059453,1,1806829201915904256,jewelry.pendant,0,89,1515915625207630848,f,red,gold,diamond
4,2018-12-02 21:30:19 UTC,1925740842841014667,1873936840742928865,1,1806829201924292864,jewelry.necklace,0,418,1515915625175329280,NaN,red,gold,amethyst

In [105]:
df['Datetime'] = pd.to_datetime(df['Datetime'])

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95911 entries, 0 to 95910
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Datetime        95911 non-null  datetime64[ns, UTC]
 1   OrderID         95911 non-null  int64
 2   Purchased_ID    95911 non-null  int64
 3   Qty_of_SKU      95911 non-null  int64
 4   Category_ID     90559 non-null  float64
 5   Category_alias  85978 non-null  object
 6   Brand_ID        91126 non-null  float64
 7   Price           90559 non-null  float64
 8   UserID          90559 non-null  float64
 9   Product_gender  47743 non-null  object
 10  Color           88251 non-null  object
 11  Metal           90449 non-null  object
 12  Gem_type        61853 non-null  object
dtypes: datetime64[ns, UTC](1), float64(4), int64(3), object(5)
memory usage: 9.5+ MB

In [109]:
df.isna().sum()

Datetime              0
OrderID               0
Purchased_ID          0
Qty_of_SKU            0
Category_ID        5352
Category_alias     9933
Brand_ID           4785
Price              5352
UserID             5352
Product_gender    48168
Color              7660
Metal              5462
Gem_type          34058
dtype: int64

In [111]:
df['Gem_type'].unique()

array(['diamond', nan, 'sapphire', 'amethyst', 'fianit', 'pearl',
       'quartz', 'topaz', 'garnet', 'quartz_smoky', 'ruby', 'agate',
       'mix', 'citrine', 'emerald', 'amber', 'chrysolite', 'chrysoprase',
       'nanocrystal', 'turquoise', 'sitall', 'corundum_synthetic',
       'coral', 'onyx', 'nacre', 'spinel', 'tourmaline',
       'emerald_geothermal', 'garnet_synthetic', 'rhodolite',
       'sapphire_geothermal'], dtype=object)

In [113]:
df['Product_gender'].unique()

array([nan, 'f', 'm'], dtype=object)

In [ ]:
df[(df['Color'] == 'red') & (df['Metal'] == 'gold')]

In [ ]:
df[df['Category_ID'] == 1806829201890738432]

In [ ]:
df = df[~df['Category_alias'].apply(lambda x: str(x).replace('.', '', 1).isdigit())]

In [ ]:
df.info()

In [ ]:
df['Category_alias'].unique()

In [ ]:
df.head()

In [ ]:
df.loc[df['Category_alias'] == 'electronics.clocks', 'Brand_ID'] = 6

In [ ]:
df = df.dropna()
df.head()

In [ ]:
df.info()

In [ ]:
columns_to_check = ['Category_ID', Category_alias